<!DOCTYPE html>
<html>
<head>
<title>DK.. Donkey Kong</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>King K. Rool</h1>
<p>Hold on to your banana. This is gonna put hair on your chest...and maybe even your back. It's <b>Donkey Kong Country</b>.</p>
<img src="KroolCountry.png" alt="King K. Rool">

<p><em>Hosted on <%= @servername %>.</em></p>
</body>
</html>
